{% load staticfiles %}
<html>
    <head>
        <title>Ben's playground</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
         <div class="page-header">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-circle-arrow-right">Login</span></a>
                <a href="{% url 'signup' %}" class="top-menu"><span class="glyphicon glyphicon-user">SignUp</span></a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">New Post</span></a>
                <a href="{% url 'logout' %}?next=/" class="top-menu"><span class="glyphicon glyphicon-lock">Logout</span></a>
            {% endif %}
            <h1><a href="/">Ben's playground</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        
        
        <script>
        (function () {
            var div = document.createElement("div");
            document.getElementsByTagName('body')[0].appendChild(div);
            div.outerHTML = "<div id='botDiv' style='height: 38px; position: fixed; bottom: 10; right:0; z-index: 1000; background-color: #fff'><div id='botTitleBar' style='height: 38px; width: 400px; position:fixed; cursor: pointer;'></div><iframe width='400px' height='600px' src='https://console.dialogflow.com/api-client/demo/embedded/cce76f39-55b5-40ec-99f7-bead78e8dbe4'></iframe></div>"; 

            document.querySelector('body').addEventListener('click', function (e) {
                e.target.matches = e.target.matches || e.target.msMatchesSelector;
                if (e.target.matches('#botTitleBar')) { 
                    var botDiv = document.querySelector('#botDiv'); 
                    botDiv.style.height = botDiv.style.height == '600px' ? '38px' : '600px';
                };
            });
        }());
        </script>
    </body>
</html>
